<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Movie Details</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Movies</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/new-comment/} + ${movie.id}">New Comment</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->

	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card w-75">
					<img th:src="${movie.url}" class="card-img-top" alt="Poster">
					<div class="card-body">
						<h5 class="card-title">
							<p class="btn btn-primary" th:text="${movie.title}">...</p>
						</h5>
						<p class="card-text" th:text="${movie.year}">...</p>
						<p class="card-text" th:text="${movie.score}">...</p>
						<p class="card-text" th:text="${movie.description}">...</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 	Comments -->
		<div th:if="${not #lists.isEmpty(comments)}">

			<div class="row d-flex justify-content-center">
				<div class="row row-cols-1 row-cols-md-4">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Author</th>
								<th scope="col">Score</th>
								<th scope="col">Comment</th>
								<th scope="col">Date</th>
								<th scope="col">#</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="comment : ${comments}">
								<tr>
									<td th:text="${comment.author}">...</td>
									<td th:text="${comment.score}">...</td>
									<td th:text="${comment.text}">...</td>
									<td th:text="${comment.createdAt}">...</td>
									<td><a th:href="@{/comments/} +${comment.id}" class="btn btn-outline-danger">Delete</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</body>
</html>